
body {
   background-color: #B9B7B7;; /* f2f5fb#;*/
   padding: 20px;
}

.menu-fondo {
   background-color: #f2f5fb;
}

.logo {
   position: absolute;
   left: 4.17%;
   right: 77.21%;
   top: 30.34%;
   bottom: 28.97%;
   /*background: url(Rectángulo 418.png);*/
}